# Automatically detect text files
* text=auto eol=lf encoding=UTF-8

# Common configuration and markup files
*.xml        text eol=lf encoding=UTF-8
*.properties text eol=lf encoding=UTF-8
*.json       text eol=lf encoding=UTF-8
*.toml       text eol=lf encoding=UTF-8
*.yml        text eol=lf encoding=UTF-8
*.yaml       text eol=lf encoding=UTF-8
*.md         text eol=lf encoding=UTF-8
*.mdx        text eol=lf encoding=UTF-8
*.txt        text eol=lf encoding=UTF-8

# Data files
*.sql text
*.tab text
*.tsv text
*.txt text
*.csv text eol=crlf

# Shell scripts
*.bash text eol=lf
*.fish text eol=lf
*.ksh  text eol=lf
*.sh   text eol=lf
*.zsh  text eol=lf

# Windows batch scripts
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Packaged files
*.7z    binary
*.bz    binary
*.bz2   binary
*.bzip2 binary
*.ear   binary
*.gz    binary
*.lz    binary
*.lzma  binary
*.rar   binary
*.tar   binary
*.taz   binary
*.tbz   binary
*.tbz2  binary
*.tgz   binary
*.tlz   binary
*.txz   binary
*.war   binary
*.xz    binary
*.Z     binary
*.zip   binary
*.zst   binary

# Image files
*.png  binary
*.jpg  binary
*.jpeg binary
*.webp binary
*.gif  binary
*.tif  binary
*.tiff binary
*.ico  binary
*.eps  binary
*.svg  text

# Design files
*.ai  binary
*.psd binary

# Video files
*.webm binary
*.mp4  binary
*.avi  binary
*.mov  binary
*.mkv  binary

# Audio files
*.mp3  binary
*.wav  binary
*.flac binary
*.ogg  binary

# Font files
*.eot   binary
*.otf   binary
*.ttf   binary
*.woff  binary
*.woff2 binary

# Excluded files from git archive exports
.editorconfig  export-ignore
.gitattributes export-ignore
.gitignore     export-ignore
.gitkeep       export-ignore
.gitmodules    export-ignore
